<div class="interface">
  <h1>CommandLine</h1>
  <div class="row-fluid">
  <div class="term-container span6" ng-controller="CliCtrl" term-inter>
    <ul class="term-lines">
      <li class="term-line" ng-repeat="command in commands">
      <span ng-hide="command.return">></span> {{command.text}}
      </li>
        <li class="term-line term-input-line">
        > {{commandInput}}<span class="term-cursor"> </span>
          <form action=" " ng-submit="newCommand()">
            <input class="term-input hidden" type="text" ng-model="commandInput"></input>
          </form>
        </li>
    </ul>
  </div>
  <div class="term-container span6" ng-controller="UnivCtrl" term-inter>
    <ul class="term-lines">
      <li class="term-line" ng-repeat="thing in commands">
      Data: {{thing}}
      </li>
        <li class="term-line term-input-line">
        > {{commandInput}}<span class="term-cursor"> </span>
          <form action=" " ng-submit="newCommand()">
            <input class="term-input hidden" type="text" ng-model="commandInput"></input>
          </form>
        </li>
    </ul>
  </div>
  </div>
</div>
